.home {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
    width: 100%;
    height: 100vh;
}

.home h1 {
    color: var(--color-primary);
}

.home p {
    color: var(--color-light);
    font-size: 1rem;
}

.home .image {
    display: flex;
    justify-content: center;
    width: 360px;
    overflow: hidden;
    margin-top: 35px;
    border-top-left-radius: 12rem !important;
    border-top-right-radius: 12rem !important;
    border-radius: 0;
    background: linear-gradient(var(--color-primary), transparent);
}

.image img {
    width: 360px;
}

.home .btns {
    display: flex;
    margin-top: 30px;
    gap: 1rem;
}

.btns .outline {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.outline:hover {
    background: var(--color-primary);
    color: var(--color-bg);
}

.soucil_icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: 10%;
    bottom: 0;
    font-size: 1.6rem;
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 25px 25px 3px 3px;
    color: var(--color-bg-variant);
}

.soucil_icons a {
    color: var(--color-primary);
}

.soucil_icons svg:hover {
    animation: shake .5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-3px);
    }

    40% {
        transform: translateX(3px);
    }

    60% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}

.next_page a {
    display: flex;
    color: var(--color-primary);
    position: absolute;
    right: 10%;
    bottom: 4rem;
    padding: .8rem;
    background: var(--color-bg-variant);
    border-radius: 100%;
    font-size: 1.7rem;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}



.next_page a:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .soucil_icons, .next_page{
        display: none;
    }
}